main{
  .block--views-featured-business-block{
    padding-top: 10px;
    h2{
      background-color: #006fc5;
      border-bottom: 1px solid #f9f9f9;
      margin:0;
      color: #f9f9f9;
      height: 50px;
      padding-top: 5px;
      text-align: center;
    }
    .content{
      .views-row{

        .views-field-field-image {
          height: 154px;
          border-right: 1px solid #f9f9f9;
        }
        .views-field-field-business-category{
          background-color: #333;
          color: #efefef;
          height: 40px;
          padding-top: 10px;
          text-align: center;
          border-right: 1px solid #f9f9f9;
          a{
            color:inherit;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
        .views-field-title{
          border-right: 1px solid #bbbbbb;
          border-left: 1px solid #bbbbbb;
          a{
            color: #777777;
            text-decoration: none;
            text-align: center;
            display: block;
            width: 100%;
          }
        }
        .views-field-field-business-adress{
          padding: 4px;
          font-size: 0.8em;
          color:#fd9639;
          border-bottom: 1px solid #bbbbbb;
          border-right: 1px solid #bbbbbb;
          border-left: 1px solid #bbbbbb;
          overflow: hidden;
          float: left;
          width: 100%;
          .fa-map-marker::before {
            float: left;
            padding-right: 4px;
          }
          .addressfield-container,.addressfield-container-inline{
            float: left;
            display: inline-block;
            padding-right: 3px;
          }
          .country{
            display: inline-block;
            padding-right: 3px;
            float: left;
          }
        }
      }
    }
  }

  .block--views-event-block{
    margin: 40px 0;
    h2{
      font-size: 30px;
      font-weight: 100;
      line-height: 30px;
      text-transform: capitalize;
      border-bottom: 3px solid #0956f4;
      width: 200px;
      margin: 0;
//      margin-left: 14px;
    }
    .content{
      border-top:1px solid #aaaaaa;
    }
    .jcarousel-container.jcarousel-container-horizontal{
      height: 202px;
      margin: 0;
      padding:0;
      width: 100%;
    }
    .jcarousel-prev-horizontal {
      position: absolute;
      right: 6px;
      top: -19px;
      left: initial;
      background: url("../images/left.png") no-repeat;
    }
    .jcarousel-next-horizontal {
      position: absolute;
      right: -14px;
      top: -19px;
      background: url("../images/right.png") no-repeat;
    }
    .jcarousel-skin-default .jcarousel-next-horizontal:hover,.jcarousel-skin-default .jcarousel-prev-horizontal:hover  {
      background-position: 0 0;
    }

    .jcarousel-skin-default{
      text-align: initial;
    }
    .jcarousel-skin-default .jcarousel-clip-horizontal{
      width: 100%;
    }
    .jcarousel-skin-default .jcarousel-item{

      height: auto;
      border: none;
      .views-field-nothing{
        .icone{
          background-color: #0956f4;
          float: left;
          height: 150px;
          padding-top: 40px;
          text-align: center;
          width: 26.1%;
          margin: 10px;
          i{
            color: #efefef;
          }
        }
        .eventdetail{
          padding-top: 10px;
          .titledate{
            color: #0956f4;
            font-size: 1.2em;
            padding: 10px 0;
            a{
              text-decoration: none;
              color: inherit;
            }
          }
          .description{
            color: #666;
            text-align: left;
            font-size: 0.8em;
          }
        }
      }
    }
  }
}