// @file
// Styles for the main menu.

.nav--main-menu {
  @extend %nav--inline;

  @media print {
    display: none;
  }
}

.block--system-main-menu{
  h2{
    display: none;

  }
    width: 80%;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    position: absolute;
}
ul.nav{
  float: right !important;
  margin-right: -15px;
  li{
    display: block;
    position: relative;
    float: left;
    a{
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
      color: #337ab7;
      padding-bottom: 15px;
      padding-top: 15px;
      line-height: 20px;
      display: block;
      position: relative;
      text-decoration: none;
    }
    a:hover{
      background-color: #eeeeee;

    }
  }
}